.fontColorRed {
  color: red;
}
.mainArea {
    margin: 6.4rem auto 4rem;
    width: 80%;

    @media screen and (max-width:767px) {
        width: 90%;
     }
}
.mainTitle {
    font-size: 32px;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
}
.subTitle {
    font-size: 24px;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
}
.mainTitleArea {
    margin: 2rem 0;
}
.mainImage{
    text-align: center;
}
.menuDetail {
    font-size: 16px;
    margin: 0 auto;
    padding: 0 0 1rem 0;
    width: 90%;
}
.menuTabl {
    margin: 1rem auto;
}
.menuTableTr {
    width: 100%;
}
.menuTableTh {
    background: #FEF2E7;
    border: solid 1px #cccccc;
    color: #333333;
    padding: 1rem;
    width: 30%;
}
.menuTableTd {
    border: solid 1px #cccccc;
    padding: 1rem;
}
   
  @media screen and (max-width: 767px) {
    .menuTablLast .menuTableTd:last-child {
      border-bottom: solid 1px #cccccc;
      text-align: center;
      width: 100%;
    }
    .menuTabl {
      width: 80%;
    }
    .menuTableTh,
    .menuTableTd {
    border-bottom: solid 1px #cccccc;
      display: block;
      width: 100%;
    }
  }
.detailUrl {
    color: #333333;
    background-color: #eeeeee;
    border-radius: 32px;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
    padding: 1rem;
    text-align: center;
    width: 30%;

    &:hover {
        color: aqua;
        background-color: #333333;
    }
    @media (max-width: 767px) {
        width: 80%;
        margin-bottom: 2rem;
    }
}
.newShop {
    background: #eeeeee;
    border-radius: 32px;
    padding: 1rem;
    text-align: center;

    &:hover {
        background: #333333;
        opacity: 0.8;
    }
}