// ━━━━━━━━━━━━━━━━━━━━
// [stylist].tsxのcss
// ━━━━━━━━━━━━━━━━━━━━

// detail (詳細)
.detailArea {
    margin-top: 6.4rem;
    padding: 1rem;
}
.detailImage {
    text-align: center;
    width: 60%;

    @media (max-width: 767px) {
        margin: 0 auto;
        width: 100%;
    }
}
.detailRight {
    width: 40%;

    @media (max-width: 767px) {
        margin: 0 auto;
        width: 100%;
    }
}
.detailMainTitle {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
}
.detailFlex {
    background-color: #fafafa;
    border: solid 0.1px #eeeeee;
    border-radius: 8px;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-evenly;
    margin: 2rem auto 2rem;
    padding: 1rem;
    width: 90%;

    @media (max-width: 767px) {
        background-color: #ffffff;
        border: none;
        border-radius: 0;
        box-shadow: none;
        display: block;
        margin-bottom: 2rem;
        padding: 0;
    }
}
.detailSubTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1rem;
    width: 100%;

    @media (max-width: 767px) {
        text-align: center;
        margin: 0 auto;
        overflow: hidden;
        width: 90%;
    }
}
.detailTag {
    margin-bottom: 2rem;
    width: 100%;

    @media (max-width: 767px) {
        text-align: center;
        margin: 0 auto;
        overflow: hidden;
        width: 90%;
    }
}
.detailProfile {
    height: 164px;
    margin-top: 2rem;
    overflow: hidden;
    width: 100%;
}
.detailBody {
    margin: 2rem auto 4rem;
    width: 90%;
}
.detailStyle {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;

    @media (max-width: 767px) {
        display: block;
        margin-bottom: 2rem;
        padding: 0;
    }
}
.detailStyleImage {

}
.detailUrl {
    color: #333333;
    background-color: #eeeeee;
    border-radius: 32px;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
    padding: 1rem;
    text-align: center;
    width: 30%;

    &:hover {
        color: aqua;
        background-color: #333333;
    }
    @media (max-width: 767px) {
        width: 80%;
        margin-bottom: 2rem;
    }
}
.stylistDetailUrl {
    color: #333333;
    background-color: #eeeeee;
    border-radius: 32px;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
    padding: 1rem;
    text-align: center;
    width: 100%;

    &:hover {
        color: aqua;
        background-color: #333333;
    }
    @media (max-width: 767px) {
        width: 80%;
        margin-bottom: 2rem;
    }
}
.detailOthers {
    background-color: #eeeeee;
    border: dotted 1px #333333;
    border-radius: 16px;
    font-weight: bold;
    margin: 16rem auto 4rem;
    padding: 0.2rem;
    text-align: center;
    width: 24%;

    @media (max-width: 767px) {
        width: 60%;
        margin-bottom: 2rem;
    }
}
