.mainFooter {
    background-color: #333333;
    padding: 1rem;
    width: 100%;
}
.footerLogo {
    display: flex;
    justify-content: space-evenly;
}
.footerLogoImg {
    margin: 2rem;
}
.footerCopyLight {
    text-align: center;
}