.features {
    margin-top: 8rem;
    width: 100%;
    height: auto;
    padding: 2rem;
}
.featuresTitle {
    background: red;
    margin-bottom: 2rem;
}
.featuresDescription {
    letter-spacing: 1.0;
}
