.carouselInfo {
    background: #333333;
    border-radius: 1rem;
    bottom: 4rem;
    color: #fff;
    font-size: 16px;
    left: 50%;
    margin-left: -40%;
    opacity: 0.8;
    padding: 1rem;
    position: absolute;
    transition: all .5s ease-in-out;
    text-align: center;
    transition: opacity .35s ease-in-out;
    width: 80%;

    @media (max-width: 767px) {
        width: 80%;
        padding-bottom: 1rem;
        bottom: 2rem;
    }
}
