.underNotice {
    display: none;

    @media screen and (max-width:767px) {
        background-color: #333333;
        color: #fafafa;
        display: block;
        opacity: 0.9;
        position: fixed;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 4rem;
        z-index: 3;
    }
}
.underNoticeButton {
    display: none;

    &:hover {
        opacity: 0.8;
    }

    @media screen and (max-width:767px) {
        display: block;
        width: 100%;
        height: auto;
        margin-top: 1.2rem;
    }
}
.flex {
    display: flex;
    justify-content: space-evenly;
}